src/main/resources/META-INF/aquarius-client.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.rpcframework.com/schema/aquarius-client"
            targetNamespace="http://www.rpcframework.com/schema/aquarius-client"
            elementFormDefault="qualified">

    <!--为客户端rpc注解注入代理-->
    <xsd:element name="client">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string" default="rpc-client"/>
            <xsd:attribute name="config" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>