src/main/resources/META-INF/aquarius-client.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.rpcframework.com/schema/aquarius-client"
            targetNamespace="http://www.rpcframework.com/schema/aquarius-client"
            elementFormDefault="qualified">
    <xsd:element name="service">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string" />
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="registry">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string" />
            <xsd:attribute name="address" type="xsd:string" />
            <xsd:attribute name="port" type="xsd:int" />
        </xsd:complexType>
    </xsd:element>
</xsd:schema>